// https://www.canva.com/colors/color-palettes/vintage-village/
$c-black: #333A44;
$c-yellow: #FEECC3;
$c-peach: #E8CBB1;
$c-charcoal: #7C9CAB;


$body-color: #666;
$navbar-dark-brand-color: $c-yellow;
$navbar-dark-color: $c-yellow;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;
.skills svg:hover path,
.navbar a:hover svg path,
.navbar a:hover svg rect{
    fill: $navbar-dark-hover-color;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik+Mono+One&display=swap');

// $font-family-monospace: 'Roboto Mono', monospace;
// $font-family-base: $font-family-monospace;

.jumbotron {
//     background-image: url("./man.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: right;
    padding: 0px !important;
    color: #343A3F;
    border-bottom: 10px solid $c-yellow;
    margin-bottom: 0px !important;

}

.charcoal {
    color: $c-charcoal;
}

.yellow{
    color: $c-yellow;
}



@import '~bootstrap/scss/bootstrap';
